/**
 * 	CSS3 Only Horizontal and Vertical Accordion
 * 	Author: Paul Underwood for Hongkiat.com
 *  Website: www.paulund.co.uk
 *  Date: 27/11/11
 *  Version: 1.0
 */

 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }


/*Define Accordion box*/
.accordion { width:100%; overflow:hidden; margin:0 auto; padding-left:20px;}

/*General Accordion****************************************************************************/
/*Set style of open slide*/
.accordion section:target { background:#FFF;}
.accordion section:target:hover { background:#FFF; }
.accordion section:target h2 {width:100%; margin-bottom:-5px;}
.accordion section:target h2 a{ color:#a0ce66; padding:0;}
.accordion section:target p {display:block; margin:0; padding-left:10px;}
.accordion section h2 a{display:block; font-size:16px; font-weight:normal;color:#6d6e70; text-decoration:none; }

/*set style of closed slide*/
.accordion section{ float:left;	overflow:hidden; color:#333; cursor:pointer; margin:3px; }
.accordion section p { display:none; }
.accordion section:after{position:relative;font-size:24px;color:#000;font-weight:bold;}
/*End General Accordion****************************************************************************/
/*.accordion section:nth-child(1):after{content:'&#9662;';}
.accordion section:nth-child(2):after{content:'&#9662;';}
.accordion section:nth-child(3):after{content:'&#9662;';}
.accordion section:nth-child(4):after{content:'&#9662;';}
.accordion section:nth-child(5):after{content:'&#9662;';}*/

/*Vertical Accordion *************************************************************************/
.vertical section{ width:100%; height:24px;
	-webkit-transition:height 0.2s ease-out;
	-moz-transition:height 0.2s ease-out;
  	-o-transition:height 0.2s ease-out;
	-ms-transition:height 0.2s ease-out;
  	transition:height 0.2s ease-out;
}
/*Set height of the slide*/
.vertical :target{ height:150px; width:97%; }

.vertical section h2 { position:relative; left:0; top:-15px; }

/*Set position of the number on the slide*/
.vertical section:after{ top:-60px;left:810px;}
.vertical section:target:after{ left:-9999px;}
