.rn-carousel-container{overflow:hidden;position:relative}
.rn-carousel-slides{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0);position:relative;white-space:nowrap;overflow:visible;padding:0;}
:root .rn-carousel-slides{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);position:relative;white-space:nowrap;overflow:visible;padding:0;margin-right: 20px;}
.rn-carousel-slide{white-space:normal;vertical-align:top;display:inline-block;width:100%;height:100%;-webkit-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}
.rn-carousel-indicator{width:100%;text-align:center;height:20px;background-color:#000;background-color:rgba(0,0,0,.6);position:relative;bottom:0;cursor:pointer}
.rn-carousel-indicator span{-webkit-transition:color .2s ease-out;transition:color .2s ease-out;padding:0 5px;color:#333}
.rn-carousel-indicator span:before{content:"\25cf"}
.rn-carousel-indicator .active{color:#fff}
.rn-carousel-control{-webkit-transition:opacity .2s ease-out;transition:opacity .2s ease-out;font-size:30px;opacity:.75;cursor:pointer}
.rn-carousel-control:hover{opacity:1}
.rn-carousel-control.rn-carousel-control-prev{left:.1em; cursor: pointer; padding-left: .5em;}
.rn-carousel-control.rn-carousel-control-prev:before{content:""}
.rn-carousel-control.rn-carousel-control-next{right:.5em; cursor: pointer; padding-right: .5em;}
.rn-carousel-control.rn-carousel-control-next:before{content:""}