body, html{
	height:100%;
	width: 100%;
	margin:0;
	padding:0;
	font-family: 'Gill Sans', Arial;
	font-weight: 100;
	color: #6d6e70;
	overflow-x:hidden;
}
.clear{
	clear: both;
}
em{
	color: #a0ce66;
	font-weight: 200;
	font-style: normal;
	font-size: 24px;
	text-transform: lowercase;
}
h1{
	color: #a0ce66;
	font-weight: 100;
	font-size:31px;
	text-transform: lowercase;
}
h3{
	color: #6d6e70;
	font-weight: 400;
	font-size:31px;
	/*text-transform: lowercase;*/
}
p{
	font-size: 17px;
	line-height: 22px;
}

#navWrap, #heroWrap, #contentWrap, #sidekickWrap{
	padding:0;
	margin:0;
}
#heroWrap{
	position: relative;
}
#topWrap .top, #contentWrap .content{
	max-width: 1024px;
	min-width:860px;
	margin:auto;
}
.shadow {
 	box-shadow: inset 0 -20px 20px -20px #333;
    -moz-box-shadow: inset 0 -20px 20px -20px #333;
    -webkit-box-shadow: inset 0 -20px 20px -20px #333;
}
.top{
	height:140px;
	padding:20px 20px 0 43px;
}
.topLeft{
	float: left;
	height: 100%;
	width: 120px;
}

.propLogo{
    width:100%;
	height: 100%;
	float: left;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 0 10px;
	background-size: auto 70%;
}

/*.logo{
 width: 90%%;
	width: -webkit-calc(100% - 50px);
	width: -moz-calc(100% - 50px);
	width: calc(100% - 50px);
	height: 100%;
	float: left;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 0 10px;
	background-size: auto 70%;
	margin-left: 50px;
}*/

.propLogo a{
	display: block;
	height: 100%;
	width:100%;
}
.topMid{
	float: left;
	height: 100%;
	width: 670px
}
.top .menu{
	width:360px;
	float: left;
}
.top .menu ul{
	margin:73px 0 0 0;
	padding:0;
	width: 100%;
}
.top .menu ul li{
	float: left;
	list-style: none;
	padding:0;
	/*padding-left:1px;*/
	width: 90px;
}
.top .menu ul li a{
	text-decoration: none;
	color: #6d6e70;
	display: block;
	width: 100%;
	border-right: 1px solid #a0ce66;
	text-align: center;
	font-size:14px;
	letter-spacing: .1em;
}

.top .menu ul li a:hover{
	background-color: #E9F3DC;
	font-weight: 100;
}
ul li a.last {
  border-right: 0px !important;
}
ul li a.selected {
	background-color:#E9F3DC;
	font-weight: 100;
	 }
.float-right{
	float: right;
}
.topRight{
	width: 217px;
	float: right;
	text-align: right;
	margin-top:68px;
	margin-right: 100px;
}
.topRight p{
	margin:0;
	color: #a0ce66;
	font-weight: 400;
	font-size: 16px;
}
.hero{
	height:400px;
	max-width: 1600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: auto;
	position: relative;

}
.hero h1{
	position: absolute;
	width: 800px;
	left: 50%;
	top: 50%;
	padding:2px 30px;
	font-size: 40px;
	font-weight: normal;
	margin-left: -400px;
	color: #6d6e70;
	text-align: center;
	margin-top: -25px;
	margin-bottom: 0;
	background-image: url(../images/slider-title-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#heroWrap{

}
.left-clip{
	height:400px;
	width: 110px;
	position: absolute;
	z-index:999999;
}
.right-clip{
	height:400px;
	width: 130px;
	position: absolute;
	z-index:999999;
	right:0;
	top:0;
}
li img{
	height:400px;
	width: 100%;
}
.left-clip img, .right-clip img{
	height:105%;
	width: auto;
}
.slidertext{
	width: 40%;
	margin-top:150px;
	float: left;
	margin-left:50px;
}
.slider-title{
	margin-top:8px;
	height:35px;
	line-height: 35px;
	padding-left:20px;
	font-size: 21px;
	color: #fff;
	background-color: #a0ce66;
	float: left;
	margin-left:115px;
	width: 252px;
	position: absolute;
	bottom: -50px;
}
.hasText{
    background-color: #a0ce66;
}
.noText{
    background-color: #fff;
}
.slider-description p{
	background-color: #fff;
	padding:20px;
	font-size: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
	margin-top:0;
}

.cap{
	position: absolute;
	z-index: 99999999;
	bottom: -80px;
	height:50px;
	width:300px;
	background-color: green;
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:768px) {
    .slider1{background-image: url(../images/slider1-mobile.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
    .slider2{background-image: url(../images/slider2-mobile.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
    .slider3{background-image: url(../images/slider3-mobile.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
    .slider4{background-image: url(../images/slider4-mobile.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
    .slider5{background-image: url(../images/slider5-mobile.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
    .slider6{background-image: url(../images/slider6-mobile.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }

}


@media only screen and  (min-width: 769px) {

    .slider1{background-image: url(../images/slider1.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
    .slider2{background-image: url(../images/slider2.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
    .slider3{background-image: url(../images/slider3.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
    .slider4{background-image: url(../images/slider4.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
    .slider5{background-image: url(../images/slider5.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
    .slider6{background-image: url(../images/slider6.jpg);
    	height:400px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    }
}

.content .slider-pages{
	margin:auto;
	width: 150px;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-top:3px;
}
.content .slider-pages a{
	text-decoration: none;
	color: #dbdcdb;
	font-size:40px;
}
.slider-pages a.selected{color: #a0ce66;}
.prev a, .next a{
	height:100%;
	width:75px;
	font-size: 70px;
	text-align: center;
	color: rgba(255,255,255,.3);
	text-decoration:none;
	display:block;
	line-height: 100%;
	/*-webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;*/
}
.preload{
    width:1px;
    height:1px;
    border:0px;
}
.next a:hover{
	color: #a0ce66;
	width: 55px;

}
.prev a:hover{
	color: #a0ce66;
	width: 50px;

}
.prev{
	left:0;
	top:175px;
	height:75px;
	width: 50px;
	position: absolute;
	z-index: 9999999;
	cursor: pointer;
	background-image: url(../images/l-arrow.jpg);
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
}
.next{
	right:0;
	top:175px;
	height:75px;
	width: 50px;
	position: absolute;
	z-index: 9999999;
	cursor: pointer;
	background-image: url(../images/r-arrow.jpg);
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
}

.home-text{
	margin-left: 17%;
	width: 80%;
	margin-top:25px;
}
.normal{
	font-family: 'Gill Sans', Arial;
	font-weight: normal;
	font-size: 18px;
}
.copyright, .legal{
	font-size:11px;
	margin:80px 0 20px 0;
	float: left;
	width: 50%;
}
.legal a{
	color: #6d6e70;
	text-decoration: none;
}
.legal2{
	font-size:11px;
}
.copyright{
	text-align: right;
}
#subnavWrap{background-color: #a0ce66;}

.aboutUsText a{color: #a0ce66;}
.aboutUsText h1{
	color: #a0ce66;
	font-weight: 100;
	font-size:31px;
	text-transform: lowercase;
	margin-top:23px;
	margin-bottom: 0px;
}
.nynj h1{
	color: #a0ce66;
	font-weight: 100;
	font-size:31px;
	text-transform: lowercase;
	margin:0;
}
.aboutUsText h2{
	color: #706F73;
	font-weight: normal;
	font-size:24px;
	text-transform: lowercase;
	margin:0;
	margin-bottom: 32px;
}
p.top{
	margin-top:20px;
	padding:0px;
}
#readmore{
	display: none;
	height:1px;
	-webkit-transition:height 0.28s ease-out;
	-moz-transition:height 0.28s ease-out;
  	-o-transition:height 0.28s ease-out;
	-ms-transition:height 0.28s ease-out;
  	transition:height 0.28s ease-out;
}
#readmore:target{
	height:350px;
	display: block;
	-webkit-transition:height 0.28s ease-out;
	-moz-transition:height 0.28s ease-out;
  	-o-transition:height 0.28s ease-out;
	-ms-transition:height 0.8s ease-out;
  	transition:height 0.28s ease-out;
}
.carouselWrap{
	width: 100%;
}
.carouselWrap2{
	width: 100%;
	margin-top:15px;
	position: relative;
}
.next2, .prev2{
float: left;
height: 100%;
width: 20px;
background-color: #fff;
}
.arrownext{
	height: 50px;
	width: 20px;
	font-size: 40px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	background-image: url(../images/r-arrow.jpg);
	background-size: 150%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
}
.arrowprev{
	height: 50px;
	width: 20px;
	font-size: 40px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	background-image: url(../images/l-arrow.jpg);
	background-size: 150%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
}
.prev-2-left-space{
	left:20px;
}
.carousel2{
	width: calc(100% - 40px);
	height: 100%;
	float: left;
}


.carouselPrev{
	height: 100px;
	width: 5%;
	float: left;
	z-index:9999;
	position: absolute;
}
.carouselNext{
	height: 100%;
	width: 5%;
	float: right;
	z-index:9999;
	position: absolute;
	right: 0;
}
.carouselNext a, .carouselPrev a{
	height:100%;
    top: 150px;
  	position: relative;
	font-size: 40px;
	text-align: center;
	color: rgba(255,255,255,.3);
	text-decoration:none;
	display:block;
	color: #a0ce66;
	-webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
        margin-top:150%;
}
.teamCarousel{
	max-width: 95%;
	min-width: 700px;
	margin:auto;
	position: relative;
	padding-bottom:20%;
}
.teamCarouselText{
	margin:auto;
	text-align: center;
    position: relative;
    top: 90%;
}
.teamCarouselText img{
	height:25px;
}
.teamCarouselText h2{
	font-weight: 100;
	margin:0;
	padding:0;
	text-transform: uppercase;
	font-size:17px;
}
.teamCarouselText h3{
	color: #a0ce66;
	font-weight: 100;
	margin:0;
	padding:0;
	font-size:16px;
}
.teamCarouselMember{
	height: 100%;
    width: 20%;
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: center top;
    margin-left: 2px;
    margin-right: 2px;
}
ol{
	text-align: left;
	margin-left:0;
}
.aboutUs{
	max-width: 1024px;
	margin:auto;
	text-align: left;
	font-size:16px;
	/*margin-top:19px;*/
}
.aboutUsText{
	margin-left:170px;
	margin-right:140px;
	max-width: 680px;
	min-width: 500px;
}
#clickToShow{
	cursor: pointer;
}
.listTitle{
	color: #a0ce66;
}
.teamWrap{
	width: 100%;
	background-image: url(../images/team/team-member.png);
	height:300px;
	background-size: cover;
	background-position: center left;
}
.team-photo{
	float: left;
	height: 100%;
	width:400px;
}
.team-photo img{
	height: 100%;
}
.team-description{
	float: left;
	width:40%;
	margin-top:50px;
}
.team-member{
	max-width: 1024px;
	min-width:700px;
	margin: auto;
	height:100%;
}
.teamWrap h2{
	font-weight: 100;
	padding:0;
	margin:0;
}
.teamWrap h3{
	color: #a0ce66;
	font-weight: 100;
	padding:0;
	margin:0;
}
.charlie{
	background-image: url(../images/team/mobile/charlie.jpg);
}
.charlie.true{background-image: url(../images/team/mobile/charlie-alt.jpg);	}


.brad{background-image: url(../images/team/mobile/brad.jpg);	}
.brad.true{background-image: url(../images/team/mobile/brad-alt.jpg);	}


.christine{background-image: url(../images/team/mobile/christine.jpg);	}
.christine.true{background-image: url(../images/team/mobile/christine-alt.jpg);	}


.dennis{background-image: url(../images/team/mobile/dennis.jpg);	}

.dennis.true{background-image: url(../images/team/mobile/dennis-alt.jpg);	}


.donna{background-image: url(../images/team/mobile/donna.jpg);	}
.donna.true{background-image: url(../images/team/mobile/donna-alt.jpg);	}


.fadee{background-image: url(../images/team/mobile/fadee.jpg);	}
.fadee.true{background-image: url(../images/team/mobile/fadee-alt.jpg);	}


.gabi{background-image: url(../images/team/mobile/gabi.jpg);	}
.gabi.true{background-image: url(../images/team/mobile/gabi-alt.jpg);	}


.heather{background-image: url(../images/team/mobile/heather.jpg);	}
.heather.true{background-image: url(../images/team/mobile/heather-alt.jpg);	}
/*.heather:hover, .heather.true{background-image: url(../images/team/heather-alt.png);}*/

.katie{background-image: url(../images/team/mobile/katie.jpg);	}
.katie.true{background-image: url(../images/team/mobile/katie-alt.jpg);	}
/*.katie:hover{background-image: url(../images/team/katie-alt.png);}*/

.heather{background-image: url(../images/team/mobile/heather.jpg);	}
.heather.true{background-image: url(../images/team/mobile/heather-alt.jpg);	}

.jen{background-image: url(../images/team/mobile/jen.jpg);	}
.jen.true{background-image: url(../images/team/mobile/jen-alt.jpg);	}
/*.ken:hover{background-image: url(../images/team/ken-alt.png);}*/

.ken{background-image: url(../images/team/mobile/ken.jpg);	}
.ken.true{background-image: url(../images/team/mobile/ken-alt.jpg);	}
/*.kristin:hover{background-image: url(../images/team/kristin-alt.png);}*/

.kristin{background-image: url(../images/team/mobile/kristin.jpg);	}
.kristin.true{background-image: url(../images/team/mobile/kristin-alt.jpg);	}
/*.kristin:hover{background-image: url(../images/team/kristin-alt.png);}*/

.lauren{background-image: url(../images/team/mobile/lauren.jpg);	}
.lauren.true{background-image: url(../images/team/mobile/lauren-alt.jpg);	}
/*.lauren:hover{background-image: url(../images/team/lauren-alt.png);}*/

.mike{background-image: url(../images/team/mobile/mike.jpg);	}
.mike.true{background-image: url(../images/team/mobile/mike-alt.jpg);	}
/*.mike:hover{background-image: url(../images/team/mike-alt.png);}*/

.rich{background-image: url(../images/team/mobile/rich.jpg);	}
.rich.true{background-image: url(../images/team/mobile/rich-alt.jpg);	}
/*.rich:hover{background-image: url(../images/team/rich-alt.png);}*/

.sean{background-image: url(../images/team/mobile/sean.jpg);	}
.sean.true{background-image: url(../images/team/mobile/sean-alt.jpg);	}
/*.sean:hover{background-image: url(../images/team/sean-alt.png);}*/

.tim{background-image: url(../images/team/mobile/tim.jpg);	}
.tim.true{background-image: url(../images/team/mobile/tim-alt.jpg);	}
/*.tim:hover{background-image: url(../images/team/tim-alt.png);}*/

.jesse{background-image: url(../images/team/mobile/jesse.jpg);	}
.jesse.true{background-image: url(../images/team/mobile/jesse-alt.jpg);	}
/*.jesse:hover{background-image: url(../images/team/jesse-alt.png);}*/

.karl{background-image: url(../images/team/mobile/karl.jpg);	}
.karl.true{background-image: url(../images/team/mobile/karl-alt.jpg);	}
/*.karl:hover{background-image: url(../images/team/karl-alt.png);}*/

.jeff{background-image: url(../images/team/mobile/jeff.jpg);    }
.jeff.true{background-image: url(../images/team/mobile/jeff-alt.jpg);   }
/*.karl:hover{background-image: url(../images/team/jeff-alt.png);}*/

.col1_4 h2 {
	margin: 0;
	padding: 0;
	font-weight: 100;
	color: #222;
	text-align: center;
	font-size: 18px;
	margin-top:10px;
}
.col1_4 h3 {
	margin: 0;
	padding: 0;
	font-weight: 100;
	color: #8fc644;
	text-align: center;
	font-size: 14px;
}


/*
SERVICES*/

.services{
	margin-left:170px;
}
table#services3Col{
	width: 100%;

}
table#services3Col tr td{
	vertical-align: top;
}
ul#servList{
	font-size: 16px;
	padding-left:46px;
}
ul#servList li{
	margin-bottom:12px;
	list-style: none;
}
.triangle{
	color:#939597;
}

ul#servList li:before {
      /* For a round bullet */
      content:'\2022';
      /* For a square bullet */
      /*content:'\25A0';*/
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -20px;
      top: -0px;
      color: #a0ce66;
      font-size: 20px;
  }
.panel-default > .panel-heading {
  	color: #a0ce66;
  	background-color: #f1f1f2;
  }
  a:hover, a:focus{
  	text-decoration: none;
  }
  .panel-title{
  	font-size: 18px;
  	font-weight: 100;
  }
  .panel-heading{
  	padding-left:25px;
  }
.panel-group .panel{
  	border-radius: 0px;
  	border:0px solid #fff;
  	box-shadow:none;
  	-webkit-box-shadow:none;
  	-safari-box-shadow:none;
  	-o-box-shadow:none;
  }
  .panel-group .panel-heading + .panel-collapse .panel-body {
  	border:none;
  }
  .panel-heading.even{
  	background-color: #fff;
  }
  .panel-group{
  	margin-left:-25px;
  	width: 85%;
  }
  .panel-group .panel + .panel{
  	margin-top:0px;
  }
  .odd{
  	background-color:#f1f1f2;
  }
  p.servText{
  	margin:30px 0;
  	width: 81%;
  }
.lef50{
	padding-left: 43px;
	padding-right:20px;
}
.portfolioTextWrap{
	max-width: 1024px;
	margin-left:170px;
}
p.portfoliotext{

	margin-top:30px;
	margin-bottom:40px;
	width:81%;
}
.portfolioRow{
	margin-bottom:1%;
}
.portfolioBox {
   width: 24.25%;
   padding-bottom: 24.25%;
   color: #FFF;
   position: relative;
   float: left;
   margin-right:1%;
}
.portfolioBox.last{
	margin-right: 0 !important;
}
.portfolioImage {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
}
.portfolioImage img{
	height: 100%;
	width: auto;
	position: relative;
	box-shadow: inset 0 0 20px #999;
    -moz-box-shadow: inset 0 0 20px #999;
    -webkit-box-shadow: inset 0 0 20px #999;
}
.portfolioImage a{
	display: block;
	height: 100%;
	width: 100%;
}
.thumbnail{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
	border: none;
	box-shadow: inset 0 0 20px #999;
    -moz-box-shadow: inset 0 0 20px #999;
    -webkit-box-shadow: inset 0 0 20px #999;
}
.animation01{background-image:url(../images/portfolio/animations/animation_01_babab_thumb.jpg);}
.animation02{background-image:url(../images/portfolio/animations/animation_02_ortho_thumb.jpg);}
.animation03{background-image:url(../images/portfolio/animations/animation_03_revive_thumb.jpg);}
.animation04{background-image:url(../images/portfolio/animations/animation_04_knee_thumb.jpg);}
.animation05{background-image:url(../images/portfolio/animations/animation_05_prineo_thumb.jpg);}
.animation06{background-image:url(../images/portfolio/animations/animation_06_sigma_thumb.jpg);}
.animation07{background-image:url(../images/portfolio/animations/animation_07_csafe_thumbnail.jpg);}

.web01{background-image:url(../images/portfolio/web/etv.png);}
.web02{background-image:url(../images/portfolio/web/econmodule.png);}
.web03{background-image:url(../images/portfolio/web/web_sso_thumbnail.jpg);}
.web04{background-image:url(../images/portfolio/web/web_mentor_thumbnail.jpg);}

.edu01{background-image:url(../images/portfolio/cirriculum/cirriculum_depuy_thumbnail.jpg);}
.edu02{background-image:url(../images/portfolio/cirriculum/cirriculum_gyn_thumbnail.jpg);}
.edu03{background-image:url(../images/portfolio/cirriculum/cirriculum_wca_thumbnail.jpg);}

.video01{background-image:url(../images/portfolio/videos/video_betterworld_thumbnail.jpg);}
.video02{background-image:url(../images/portfolio/animations/animation_03_revive_thumb.jpg);}
.video03{background-image:url(../images/portfolio/videos/video_trunkplasty_thumbnail.jpg);}
.video04{background-image:url(../images/portfolio/videos/);}

.brand01{background-image:url(../images/portfolio/brand/bengay_web.jpg);}

#portfolioGrid{
	margin-left:20px;
	margin-right:20px;
}
.mag {
background-image: url(../images/mag.png);
background-repeat: no-repeat;
background-position: center center;
background-size: 8%;
height: 100%;
width: 100%;
padding: 10px;
position: absolute;
top: 0;
left: 0;
background-position-y: 36%;
}
.vid{
background-image: url(../images/vid.png);
background-repeat: no-repeat;
background-position: center center;
background-size: 8%;
height: 100%;
width: 100%;
padding: 10px;
position: absolute;
top: 0;
left: 0;
background-position-y: 36%;
}


.thumbnailShadow{
	box-shadow: inset 0 0 20px #999;
    -moz-box-shadow: inset 0 0 20px #999;
    -webkit-box-shadow: inset 0 0 20px #999;
}
table#portfolioGrid tr{
	height:300px;
}

.nynj{
	width:530px;
	margin: auto;
	margin-top:20px;
}
.njaddress{
	width:200px;
	text-align: right;
	display: inline-block;
}
.addressSpace{
	width: 110px;
	display: inline-block;
	height:100px;
}
.nyaddress{
	width:200px;
	margin:auto;
	display: inline-block;
}
.nyc-image{
	background-image: url(../images/nyc-office.png);
	background-repeat: no-repeat;
	background-size:cover;
	text-align: right;
	float: left;
	width: 49%;
	height:337px;
	margin-left:.5%;
	position: relative;
}
.nyc-image img{
	position: absolute;
	right: -1px;
}
.summit-image{
	background-image: url(../images/summit-office.png);
	background-repeat: no-repeat;
	background-size:cover;
	float: left;
	width: 49%;
	height:337px;
	margin-right:.5%;

}
.nynj h2{
	font-weight: 400;
	margin: 0;
	padding: 5px 0;
	font-size: 16px;
}
.nynj p{
	font-size:16px;
	margin:0;
}

td.nj{padding:20px;}

td img{height: 100%;}

.email{
	text-align: center;
	margin:100px;
}
.email a{color: #6d6e70;}

#readmoreSpan{display:none;}
.bull{
	padding-right:10px;
	font-size:16px;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
ul li a, ul li a::after{
	color: #6d6e70;
}
ul li a:hover {
	color: #a0ce66;
	text-decoration: none;
}


ul li a:focus, ul li a:active {
	color: #a0ce66;
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before, .cl-effect1 a:target {
	margin-right: 10px;
	color: #a0ce66;
	content: '(';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after, .cl-effect1 a:target {
	margin-left: 10px;
	color: #a0ce66;
	content: ')';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.mission{
	float: left;
	margin-bottom: 32px;
}
.mission p{
	margin:0;
}
.nmbr{
	float: left;
	background-color: #a0ce66;
	border-radius: 25px;
	height: 25px;
	width: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	color: #fff;
	margin-left: -35px;
}

.btn{
	font-size:17px;
	color: #fff;
	font-weight: 100;
}
.btn.filter{
	color: #6d6e70;
}
.btn-default{
	background-color: transparent;
	border:none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
	background-color: transparent;
}
.btn:focus{
	color: #a0ce66;
}

.carosel-1-contols{
 position: relative;
bottom: 48%;
}

.cover1{
    position: absolute;
    width: 4%;
    height: 100%;
    background-color: white;
    z-index: 100;
    margin-left: 10px;
}


.cover2{
 position: absolute;

height: 100%;
background-color: white;
z-index: 100;
float: right;
top: 0%;
left: 98%;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    .teamCarouselMember{
        margin-left: 3px;
        margin-right: 2px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1679px) {

    .teamCarouselMember{
        margin-left: 3px;
        margin-right: 2px;
    }
}

@media only screen and (min-width: 1680px) and (max-width: 4000px) {

    .teamCarouselMember{
        margin-left: 2px;
        margin-right: 3px;
    }
}



.underSlider{
	max-width: 1024px;
	min-width: 1024px;
	margin:auto;
	height:50px;
}
.underSliderWrap{
	width:720px;
	margin:10px auto;
	height:50px;
}
.greenBlock{
	width:250px;

	display: inline-block;



height: 35px;
line-height: 35px;
padding-left: 20px;
font-size: 21px;
color: #fff;
background-color: #a0ce66;
float: left;

width: 252px;

}

.bullets{

	width:200px;
	padding-right:40px;
	height:50px;
	display: inline-block;
}

.shadow-slider{
	width: 100%;
	height:25px;
	position: absolute;
	bottom:15px;
	box-shadow: inset 0 -20px 20px -20px #333;
    -moz-box-shadow: inset 0 -20px 20px -20px #333;
    -webkit-box-shadow: inset 0 -20px 20px -20px #333;
}










.whiteBox{
 background-color: white;
}







