body, html{
	height:100%;
	width: 100%;
	margin:0;
	padding:0;
	font-family: 'Gill Sans', Arial;
	font-weight: 100;
	color: #6d6e70;
}
.clear{
	clear: both;
}
em{
	color: #a0ce66;
	font-weight: 400;
	font-style: normal;
}
h1{
	color: #a0ce66;
	font-weight: 100;
	font-size:31px;
	text-transform: lowercase;
}
h3{
	color: #6d6e70;
	font-weight: 100;
	font-size:31px;
	text-transform: lowercase;
}
p{
	font-size: 18px;
	line-height: 24px;
}

#navWrap, #heroWrap, #contentWrap, #sidekickWrap{
	padding:0;
	margin:0;
}
#topWrap .top, #contentWrap .content{
	max-width: 1024px;
	min-width:768px;
	margin:auto;
}
.shadow {
 	box-shadow: inset 0 -20px 20px -20px #333;
    -moz-box-shadow: inset 0 -20px 20px -20px #333;
    -webkit-box-shadow: inset 0 -20px 20px -20px #333; 
}
.top{
	height:140px;
	padding:20px 20px 0 43px;
}
.topLeft{
	float: left;
	height: 100%;
	min-width: 120px;
}

.propLogo{
    width:100%;
	height: 100%;
	float: left;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-position: 0 10px;
	background-size: auto 70%;
}

.logo{
 width: 90%%;
width: -webkit-calc(100% - 50px);
width: -moz-calc(100% - 50px);
width: calc(100% - 50px);
height: 100%;
float: left;
background-image: url(../images/logo.svg);
background-repeat: no-repeat;
background-position: 0 10px;
background-size: auto 70%;
margin-left: 50px;   
}

.propLogo a{

	display: block;
	height: 100%;
	width:100%;
}
.topMid{
	width: 79%;
	float: left;
	height: 100%;
}
.top .menu{
	width:50%;
	float: left; 
}
.top .menu ul{
	margin:73px 0 0 0;
	padding:0;
	width: 100%;
}
.top .menu ul li{
	float: left;
	list-style: none;
	padding:0;
	/*padding-left:1px;*/
	width: 24%;
}
.top .menu ul li a{
	text-decoration: none;
	color: #6d6e70;
	display: block;
	width: 100%;
	border-right: 1px solid #a0ce66;
	text-align: center;
	font-size:14px;
}

.top .menu ul li a:hover{ 
	background-color: #E9F3DC;
	font-weight: 100;
}
ul li a.last {
  border-right: 0px !important;
}
ul li a.selected { 
	background-color:#E9F3DC;
	font-weight: 100;
	 }
.float-right{
	float: right;
}
.topRight{
	width: 50%;
	float: left;
	text-align: right;
	margin-top:68px;
}
.topRight p{
	margin:0;
	color: #a0ce66;
	margin-right:60px;
	font-weight: 400;
}
.hero{
	height:400px;
	max-width: 1600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: auto;
	position: relative;
}
#heroWrap{
	
}
.left-clip{
	height:400px;
	width: 80px;
	float: left;
}
.right-clip{
	height:400px;
	width: 95px;
	float: right;
}
.left-clip img, .right-clip img{
	height:100%;
	width: auto;
}
.slidertext{
	width: 40%;
	margin-top:150px;
	float: left;
	margin-left:50px;
}
.slider-title{
	margin-top:8px;
	height:35px;
	line-height: 35px;
	padding-left:20px;
	font-size: 21px;
	color: #fff;
	background-color: #a0ce66;
	float: left;
	margin-left:155px;
	width: 252px;
}
.slider-description p{
	background-color: #fff;
	padding:20px;
	font-size: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
	margin-top:0;
}

.slider1{background-image: url(../images/slider1.png);}
.slider2{background-image: url(../images/slider2.jpg);}
.slider3{background-image: url(../images/slider3.jpg);}
.slider4{background-image: url(../images/slider4.jpg);}
.slider5{background-image: url(../images/slider5.jpg);}
.slider6{background-image: url(../images/slider6.png);}

.content .slider-pages{
	margin:auto;
	width: 150px;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-top:3px;
}
.content .slider-pages a{
	text-decoration: none;
	color: #dbdcdb;
	font-size:40px;
}
.slider-pages a.selected{color: #a0ce66;}
.prev a, .next a{
	height:100%;
	width:75px;
	font-size: 70px;
	text-align: center;
	color: rgba(255,255,255,.3);
	text-decoration:none;
	display:block;
	line-height: 100%;
	-webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}
.preload{
    display: none;   
}
.next a:hover{
	color: #a0ce66;
	width: 55px;
	background-color: #fff;
}
.prev a:hover{
	color: #a0ce66;
	width: 55px;
	background-color: #fff;
}
.prev{
	left:0;
	margin-top:180px;
	height:75px;
	position: absolute;
	z-index: 999;
	cursor: pointer;
}
.next{
	right:0;
	height:75px;
	margin-top:180px;
	position: absolute;
	z-index: 999;
	cursor: pointer;
}

.home-text{
	margin-left: 17%;
	margin-top:40px;
	width: 80%;

}
.copyright{
	text-align: right;
	font-size:11px;
	margin:60px 0;
}
#subnavWrap{background-color: #a0ce66;}

.aboutUsText a{color: #a0ce66;}
.aboutUsText h1, .nynj h1{
	color: #a0ce66;
	font-weight: 100;
	font-size:31px;
	text-transform: lowercase;
	margin:0;
}
#readmore{
	display: none;
	height:1px;
	-webkit-transition:height 0.28s ease-out;
	-moz-transition:height 0.28s ease-out;
  	-o-transition:height 0.28s ease-out;
	-ms-transition:height 0.28s ease-out;
  	transition:height 0.28s ease-out;
}
#readmore:target{
	height:350px;
	display: block;
	-webkit-transition:height 0.28s ease-out;
	-moz-transition:height 0.28s ease-out;
  	-o-transition:height 0.28s ease-out;
	-ms-transition:height 0.8s ease-out;
  	transition:height 0.28s ease-out;
}
.carouselWrap{
	width: 100%;
}
.carouselPrev{
	height: 100px;
	width: 5%;
	float: left;
	z-index:9999;
	position: absolute;
}
.carouselNext{
	height: 100%;
	width: 5%;
	float: right;
	z-index:9999;
	position: absolute;
	right: 0;
}
.carouselNext a, .carouselPrev a{
	height:100%;
    top: 150px;
  	position: relative;
	font-size: 40px;
	text-align: center;
	color: rgba(255,255,255,.3);
	text-decoration:none;
	display:block;
	color: #a0ce66;
	-webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
        margin-top:150%;
}
.teamCarousel{
	max-width: 100%;
	min-width: 700px;
	margin:auto;
	cursor:pointer;
	position: relative;
	padding-bottom:20%;
}
.teamCarouselText{

	margin:auto;
	text-align: center;
    position: relative;
    top: 69%;
}
.teamCarouselText img{
	height:25px;
}
.teamCarouselText h2{
	font-weight: 100;
	margin:0;
	padding:0;
	text-transform: uppercase;
	font-size:19px;
}
.teamCarouselText h3{
	color: #a0ce66;
	font-weight: 100;
	margin:0;
	padding:0;
	font-size:16px;
}
.teamCarouselMember{
	height: 100%;
    width: 20%;
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: center 40px;
}
ol{
	text-align: left;
	margin-left:0;
}
.aboutUs{
	max-width: 1024px;
	margin:auto;
	text-align: left;
	font-size:16px;
}
.aboutUsText{
	margin-left:17%;
	margin-right:140px;
}
#clickToShow{
	cursor: pointer;
}
.listTitle{
	color: #a0ce66;
}
.teamWrap{
	width: 100%;
	background-image: url(../images/team/team-member.png);
	height:300px;
	background-size: cover;
	background-position: center left;
}
.team-photo{
	float: left;
	height: 100%;
	width:400px;
}
.team-photo img{
	height: 100%;
}
.team-description{
	float: left;
	width:40%;
	margin-top:50px;
}
.team-member{
	max-width: 1024px;
	min-width:700px;
	margin: auto;
	height:100%;
}
.teamWrap h2{
	font-weight: 100;
	padding:0;
	margin:0;
}
.teamWrap h3{
	color: #a0ce66;
	font-weight: 100;
	padding:0;
	margin:0;
}
.charlie{background-image: url(../images/team/charlie.png);	}
.charlie.true{background-image: url(../images/team/charlie-alt.png);	}


.brad{background-image: url(../images/team/brad.png);	}
.brad.true{background-image: url(../images/team/brad-alt.png);	}


.christine{background-image: url(../images/team/christine.png);	}
.christine.true{background-image: url(../images/team/christine-alt.png);	}


.dennis{background-image: url(../images/team/dennis.png);	}

.dennis.true{background-image: url(../images/team/dennis-alt.png);	}


.donna{background-image: url(../images/team/donna.png);	}
.donna.true{background-image: url(../images/team/donna-alt.png);	}


.fadee{background-image: url(../images/team/fadee.png);	}
.fadee.true{background-image: url(../images/team/fadee-alt.png);	}


.gabi{background-image: url(../images/team/gabi.png);	}
.gabi.true{background-image: url(../images/team/gabi-alt.png);	}


.heather{background-image: url(../images/team/heather.png);	}
.heather.true{background-image: url(../images/team/heather-alt.png);	}
/*.heather:hover, .heather.true{background-image: url(../images/team/heather-alt.png);}*/

.katie{background-image: url(../images/team/katie.png);	}
.katie.true{background-image: url(../images/team/katie-alt.png);	}
/*.katie:hover{background-image: url(../images/team/katie-alt.png);}*/

.heather{background-image: url(../images/team/heather.png);	}
.heather.true{background-image: url(../images/team/heather-alt.png);	}

.jen{background-image: url(../images/team/jen.png);	}
.jen.true{background-image: url(../images/team/jen-alt.png);	}
/*.ken:hover{background-image: url(../images/team/ken-alt.png);}*/

.ken{background-image: url(../images/team/ken.png);	}
.ken.true{background-image: url(../images/team/ken-alt.png);	}
/*.kristin:hover{background-image: url(../images/team/kristin-alt.png);}*/

.kristin{background-image: url(../images/team/kristin.png);	}
.kristin.true{background-image: url(../images/team/kristin-alt.png);	}
/*.kristin:hover{background-image: url(../images/team/kristin-alt.png);}*/

.lauren{background-image: url(../images/team/lauren.png);	}
.lauren.true{background-image: url(../images/team/lauren-alt.png);	}
/*.lauren:hover{background-image: url(../images/team/lauren-alt.png);}*/

.mike{background-image: url(../images/team/mike.png);	}
.mike.true{background-image: url(../images/team/mike-alt.png);	}
/*.mike:hover{background-image: url(../images/team/mike-alt.png);}*/

.rich{background-image: url(../images/team/rich.png);	}
.rich.true{background-image: url(../images/team/rich-alt.png);	}
/*.rich:hover{background-image: url(../images/team/rich-alt.png);}*/

.sean{background-image: url(../images/team/sean.png);	}
.sean.true{background-image: url(../images/team/sean-alt.png);	}
/*.sean:hover{background-image: url(../images/team/sean-alt.png);}*/

.tim{background-image: url(../images/team/tim.png);	}
.tim.true{background-image: url(../images/team/tim-alt.png);	}
/*.tim:hover{background-image: url(../images/team/tim-alt.png);}*/

.jesse{background-image: url(../images/team/jesse.png);	}
.jesse.true{background-image: url(../images/team/jesse-alt.png);	}
/*.jesse:hover{background-image: url(../images/team/jesse-alt.png);}*/

.karl{background-image: url(../images/team/karl.png);	}
.karl.true{background-image: url(../images/team/karl-alt.png);	}
/*.karl:hover{background-image: url(../images/team/karl-alt.png);}*/

.col1_4 h2 {
	margin: 0;
	padding: 0;
	font-weight: 100;
	color: #222;
	text-align: center;
	font-size: 18px;
	margin-top:10px;
}
.col1_4 h3 {
	margin: 0;
	padding: 0;
	font-weight: 100;
	color: #8fc644;
	text-align: center;
	font-size: 14px;
}


/*
SERVICES*/

.services{
	margin-left:180px;
}
table#services3Col{
	width: 100%;

}
table#services3Col tr td{
	vertical-align: top;
}
ul#servList{
	font-size: 18px;
	padding-left:46px;
}
ul#servList li{
	margin-bottom:20px;
	list-style: none;
}
.triangle{
	color:#939597;
}

ul#servList li:before {
      /* For a round bullet */
      content:'\2022';
      /* For a square bullet */
      /*content:'\25A0';*/
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -20px;
      top: -0px;
      color: #a0ce66;
      font-size: 20px;
  }
.panel-default > .panel-heading {
  	color: #a0ce66;
  	background-color: #f1f1f2;
  }
  a:hover, a:focus{
  	text-decoration: none;
  }
  .panel-title{
  	font-size: 20px;
  	font-weight: 100;
  }
  .panel-heading{
  	padding-left:25px;
  }
.panel-group .panel{
  	border-radius: 0px;
  	border:0px solid #fff;
  	box-shadow:none;
  	-webkit-box-shadow:none;
  	-safari-box-shadow:none;
  	-o-box-shadow:none;
  }
  .panel-group .panel-heading + .panel-collapse .panel-body {
  	border:none;
  }
  .panel-heading.even{
  	background-color: #fff;
  }
  .panel-group{
  	margin-left:-25px;
  	width: 85%;
  }
  .panel-group .panel + .panel{
  	margin-top:0px;
  }
  .odd{
  	background-color:#f1f1f2;
  }
  p.servText{
  	margin:30px 0;
  	width: 81%;
  }
.left50{
	padding-left: 43px;
	padding-right:20px;
}
p.portfoliotext{
	margin-left:135px;
	margin-top:30px;
	margin-bottom:80px;
	width:73%;
}
.portfolioRow{
	margin-bottom:1%;
}
.portfolioBox {
   width: 24.25%;
   padding-bottom: 24.25%;
   color: #FFF;
   position: relative;
   float: left;
   margin-right:1%;
}
.portfolioBox.last{
	margin-right: 0 !important;
}
.portfolioImage {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
}
.portfolioImage img{
	height: 100%;
	width: auto;
	position: relative;
	box-shadow: inset 0 0 20px #999;
    -moz-box-shadow: inset 0 0 20px #999;
    -webkit-box-shadow: inset 0 0 20px #999; 
}
.portfolioImage a{
	display: block;
	height: 100%;
	width: 100%;
}
.thumbnail{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
	border: none;
	box-shadow: inset 0 0 20px #999;
    -moz-box-shadow: inset 0 0 20px #999;
    -webkit-box-shadow: inset 0 0 20px #999; 
}
.animation01{background-image:url(../images/portfolio/animations/animation_01_babab_thumb.jpg);}
.animation02{background-image:url(../images/portfolio/animations/animation_02_ortho_thumb.jpg);}
.animation03{background-image:url(../images/portfolio/animations/animation_03_revive_thumb.jpg);}
.animation04{background-image:url(../images/portfolio/animations/animation_04_knee_thumb.jpg);}
.animation05{background-image:url(../images/portfolio/animations/animation_05_prineo_thumb.jpg);}
.animation06{background-image:url(../images/portfolio/animations/animation_06_sigma_thumb.jpg);}
.animation07{background-image:url(../images/portfolio/animations/animation_07_csafe_thumbnail.jpg);}

.web01{background-image:url(../images/portfolio/web/etv.png);}
.web02{background-image:url(../images/portfolio/web/econmodule.png);}
.web03{background-image:url(../images/portfolio/web/web_sso_thumbnail.jpg);}
.web04{background-image:url(../images/portfolio/web/web_mentor_thumbnail.jpg);}

.edu01{background-image:url(../images/portfolio/cirriculum/cirriculum_depuy_thumbnail.jpg);}
.edu02{background-image:url(../images/portfolio/cirriculum/cirriculum_gyn_thumbnail.jpg);}
.edu03{background-image:url(../images/portfolio/cirriculum/cirriculum_wca_thumbnail.jpg);}

.video01{background-image:url(../images/portfolio/videos/video_betterworld_thumbnail.jpg);}
.video02{background-image:url(../images/portfolio/videos/video_revive_thumbnail.jpg);}
.video03{background-image:url(../images/portfolio/videos/video_trunkplasty_thumbnail.jpg);}
.video04{background-image:url(../images/portfolio/videos/);}

#portfolioGrid{
	margin-left:20px;
	margin-right:20px;
}

.thumbnailShadow{
	box-shadow: inset 0 0 20px #999;
    -moz-box-shadow: inset 0 0 20px #999;
    -webkit-box-shadow: inset 0 0 20px #999; 
}
table#portfolioGrid tr{
	height:300px;
}

.nynj{
	width:600px;
	margin: auto;
}
.njaddress{
	width:200px;
	text-align: right;
	display: inline-block;
}
.addressSpace{
	width: 180px;
	display: inline-block;
	height:100px;
}
.nyaddress{
	width:200px;
	margin:auto;
	display: inline-block;
}
.nyc-image{
	background-image: url(../images/nyc-office.png);
	background-repeat: no-repeat;
	background-size:cover;
	text-align: right;
	float: left;
	width: 49%;
	height:337px;
	margin-left:1%;
}
.summit-image{
	background-image: url(../images/summit-office.png);
	background-repeat: no-repeat;
	background-size:cover;
	float: left;
	width: 49%;
	height:337px;
	margin-right:1%;
	
}
.nynj h2{
	font-weight: 400;
	margin: 0;
	padding: 5px 0;
	font-size: 16px;
}
.nynj p{
	font-size:16px;
	margin:0;
}

td.nj{padding:20px;}

td img{height: 100%;}

.email{
	text-align: center;
	margin:100px;
}
.email a{color: #6d6e70;}

#readmoreSpan{display:none;}
.bull{
	padding-right:10px;
	font-size:16px;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
ul li a, ul li a::after{
	color: #6d6e70;
}
ul li a:hover {
	color: #a0ce66;
	text-decoration: none;
}


ul li a:focus, ul li a:active {
	color: #a0ce66;
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before, .cl-effect1 a:target {
	margin-right: 10px;
	color: #a0ce66;
	content: '(';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after, .cl-effect1 a:target {
	margin-left: 10px;
	color: #a0ce66;
	content: ')';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.mission{
	float: left;
	margin-bottom: 25px;
}
.nmbr{
	float:left;
	background-color: #a0ce66;
	border-radius: 25px;
	height: 50px;
	width:50px;
	margin-right:25px;
	text-align: center;
	line-height: 50px;
	font-size:30px;
	color: #fff;
	margin-left:-80px;
	margin-top:20px;
}

.btn{
	font-size:16px;
	color: #6d6e70;
	font-weight: 100;
}
.btn:focus{
	color: #a0ce66;
}




