
ul.bxslider{
	margin:0;
	padding:0;
	display: inline-block;
}
#hero-wrap{
	position: relative;
}



/** THEME
===================================*/
.bullet{
    z-index:8989888;
    position: relative;
}
.bullet .bx-pager,
.bullets .bx-controls-auto {
	position: absolute;
	bottom: 40px;
	width: 100%;
}

/* LOADER */

.bullets .bx-loading {
	min-height: 50px;
	background: url(../images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bullets .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 12px;
}

.bullets .bx-pager .bx-pager-item,
.bullets .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bullets .bx-pager.bx-default-pager a {
	background: #dbdcdb;
	text-indent: -9999px;
	display: block;
	width: 11px;
	height: 11px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.bullets .bx-pager.bx-default-pager a:hover,
.bullets .bx-pager.bx-default-pager a.active {
	background: #a0ce66;
}

