<!DOCTYPE html>
<html ng-app='app'>
<head>
	<title>Propeller Communications</title>
    <link rel="stylesheet" type="text/css" href="css/propeller.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/animate.css">

	<link rel="stylesheet" type="text/css" href="css/screens.css">
	<!-- jQuery library (served from Google) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="js/jquery.bxslider.js"></script>
    <!-- bxSlider CSS file -->
    <link href="css/jquery.bxslider.css" rel="stylesheet" />

    <script type="text/javascript">
      $(document).ready(function(){
        $('.bxslider').bxSlider({
          mode: 'fade',
          auto: true,
          captions: true,
         onSlideAfter:function($slideElement, oldIndex, newIndex){
             if (newIndex ==0){
                 $('.greenBlock').addClass('whiteBox');
               $('.greenBlock').html('');
             }
             else{
                 $('.greenBlock').removeClass('whiteBox');
                var visibleSlide=   $slideElement[0].innerText;
               $('.greenBlock').html(visibleSlide);
             }
        }
        });


          var objectwithEvents = $('.bx-pager').detach();
          $('.bullets').append(objectwithEvents);


      });
      $(function(){

    // create an options object to store your slider settings
	var slider_config = {
		mode: 'horizontal', // place all slider options here
        onSlideBefore: function($slideElement, oldIndex, newIndex){
            var $lazy = $slideElement.find(".lazy")
            var $load = $lazy.attr("data-src");
            $lazy.attr("src",$load).removeClass("lazy");
        }
	}
    // init the slider with your options
	var slider = $('.slider').bxSlider(slider_config);
});
    </script>

 <link rel="shortcut icon" href="http://www.propellercommunicates.com/favicon.ico?v=2" />
</head>


<body ng-controller="caroselController" ng-init='' >

	<div id="topWrap">
		<div class="top">
			<div class="topLeft">
				<div class="propLogo"><a href="index.html"></a></div>
			</div>
				<div class="menu">
					<ul>
						<li><a href="team.html">our agency</a></li>
						<li><a href="services.html">services</a></li>
						<li><a href="portfolio.html">portfolio</a></li>
						<li><a href="contact.html" class="last">contact</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="topRight">
					<p>our only boundaries... are yours</p>
				</div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="heroWrap">
		<div class="hero shadow">
			<div class="left-clip"><img src="images/left-clip.png"></div>
			<!-- <div class="prev"><a ng-click='prev()'></a></div> -->

			<ul class="bxslider">
		      <a href="services.html"><li class="slider6"><img src="images/blank.png"><div class="shadow-slider"></div><h1>the digital agency with strategic vision</h1></li></a>
		      <a href="services.html#collapseFour"><li class="slider1"><div class="shadow-slider"></div><div class="slider-title">web/mobile development</div></li></a>
		      <a href="services.html#collapseTwo"><li class="slider2"><div class="shadow-slider"></div><div class="slider-title">animation</div></li></a>
		      <a href="services.html#collapseOne"><li class="slider3"><div class="shadow-slider"></div><div class="slider-title">creative campaigns</div></li></a>
		      <a href="services.html#collapseThree"><li class="slider4"><div class="shadow-slider"></div><div class="slider-title">live video</div></li></a>
		      <a href="services.html#collapseFive"><li class="slider5"><div class="shadow-slider"></div><div class="slider-title">curriculum design</div></li></a>
		    </ul>

			<!-- <div class="next"><a ng-click='next()'></a></div> -->
			<div class="right-clip"><img src="images/right-clip.png"></div>
		</div>
		<div class="clear"></div>
		<div class="underSlider">
			<div class="underSliderWrap">
				<div class="greenBlock whiteBox"><!-- INSERT TEXT BLOCK HERE --></div>
				<div class="bullets"><!-- INSERT PAGES HERE --></div>
			</div>
		</div>
	</div>
	<div id="contentWrap">
		<div class="content">

		<div class="clear"></div>
			<div class="home-text">
				<p><span class="normal">The digital agency with strategic vision.</span> As the premier digital marketing agency in the healthcare space, Propeller Communications combines passion, depth of knowledge, and strategic vision to create best in class digital content.</p>

				<p>Our capabilities and experience in digital development, design, video production, animation, account/project services and instructional design allow us to create the highest quality marketing communications.  We are truly a digital partner to our clients.</p>
				<div class="legal"><a href="legal/Privacy-Policy.pdf" target="_blank">privacy policy </a> | <a href="legal/Legal-Notice.pdf" target="_blank">legal notice</a> | <a href="legal/Terms-and-Conditions.pdf" target="_blank">terms and conditions</a></div>
				<div class="copyright">&copy; 2014-2015 Propeller Consulting Inc, All rights reserved.</div>
				<div class="clear"></div>
				<div class="legal2">This site is governed solely by applicable U.S. laws and governmental regulations. Please see our Privacy Policy. Use of this site constitutes your consent to application of such laws and regulations and to our Privacy Policy. Your use of the information on this site is subject to the terms of our Legal Notice. <br>
				All contents &copy; Copyright Propeller Consulting, Inc. 2006-2014. All Rights Reserved.<br>
				Last Updated: 06/12/2014
			</div>
		</div>
	</div>

    <div class="preload" > <img scr="images/slider1.png"></div>
    <div class="preload" > <img scr="images/slider2.png"></div>
    <div class="preload" > <img scr="images/slider3.png"></div>
    <div class="preload" > <img scr="images/slider4.png"></div>
    <div class="preload" > <img scr="images/slider5.png"></div>
    <div class="preload" > <img scr="images/slider6.png"></div>
</body>

</html>